# Compiled source #
*.com
*.class
*.dll
*.exe
*.o
*.so

# Packages #
*.7z
*.dmg
*.gz
*.iso
*.jar
*.rar
*.tar
*.zip

# Logs #
logs/
*.log

# Maven #
target/
pom.xml.tag
pom.xml.releaseBackup
pom.xml.versionsBackup
pom.xml.next
release.properties
dependency-reduced-pom.xml
buildNumber.properties
.mvn/timing.properties
.mvn/wrapper/maven-wrapper.jar

# IDEs #
.idea/
.vscode/
*.swp
*.swo
*~
.DS_Store
*.iml
*.iws
*.ipr

# Gradle #
.gradle
build/

# Spring Boot #
application-local.yml
application-dev.yml

# Database #
*.h2.db
*.db

# OS #
Thumbs.db
.DS_Store
